@import "tailwindcss";

::selection{
    color: rgb(255, 145, 0);
}


button{
    cursor: pointer;
}

#tasklist::-webkit-scrollbar{
    background-color: transparent;
    height: 5px;
}
#tasklist::-webkit-scrollbar-thumb{
  background-color: rgb(143, 143, 143);
  border-radius: 50px;
}